@media screen and (max-width:576px) {
    .container{
        width: 100%;
    }
    nav,nav ul{
        flex-direction: column;
        text-align: center;
    }

    .banner-title{
        font-size: 50px;
        line-break: none;
        text-align: center;
    }
    nav{
        /* display: none; */
    }
}