/* utilities */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
    
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    background: #FF900E;
    border-radius: 8px;
    padding:21px 25px;
    color: white;
    border: none;
    font-size:20px;
    height: 64px;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-title{
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}
p{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}
/* header styles */
header{
    background-color: #ff900e1a;
}
.brand-name{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    /* justify-content: space-between; */
}
nav ul li{
    list-style: none;
    font-size:18px;
    color:#424242;
    margin-right: 40px;
    cursor: pointer;
}
nav ul li:hover{
    text-decoration: underline;
}
/* banner styles 
 */

 .banner{
    text-align: center;
 }
 .banner-info{
    width: 75%;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 50px;
 }
 .banner-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 20px;
 }
 .banner-description{
    font-size:16px;
    color: #727272;
    line-height: 26px;
 }
 .banner-btn{
    margin-top: 30px;
 }
 .banner-img{
    width: 100%;
    padding-bottom: 45px;
 }
 /* quick-list section styles */
 .quick-lists{
    /* padding-left: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .quick-list-images{
    width: 55%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
 }
 .quick-list-images img{
    width: 100%;
    height: 100%;
 }
 .quick-list-info{
    width: 40%;
 }
 .text-gray{
    font-weight: normal;
    color: #727272;
 }
 .text-orange{
    color: #FF900E;
 }
 .quick-list-description{
   color: #727272;
   font-size: 16px;
   line-height: 26px;
   margin: 30px 0;
 }
 /* features section styles */
 .features{
    display: flex;
    gap:54px;
    justify-content: space-between;
 }
 .features-info .title-box{
    border-left: 5px solid #FF900E;
    /* border-radius: 5px; */
    outline-width: 10px;
    padding-left: 10px;
    
 }
 .features-info .features-info-description{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0 50px 0;
 }
 .feature-item{
    margin-bottom: 50px;
    padding: 10px 25px;
 }
 .feature-item h3{
    margin-bottom: 10px;
    font-size: 20px;
 }
.feature-img-box{
    width: 50%;
    position: relative;

}
.experience-highlight{
    font-size: 65px;
    font-weight: 700;
    color:#fff;
    width: 300px;
    background-color: #FF900E;
    text-align: center;
    line-height: 30px;
    padding: 46px 23px;
    position: absolute;
    bottom:0;
    left:-50px;

    
}
.small-text{
    font-size: 20px;
    font-weight: 400;
}